/* Class Components */

.nav-category {
  height: 45%;
  width: fit-content;
  padding: 4px;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 5px;
  border: 1px solid #232F3E;
}

.nav-category:hover {
  cursor: pointer;
  border: 1px solid #666666;
}

.nav-cart-larger-text {
  font-size: 10.5pt;
  font-weight: 600;
}

.nav-cart-buttons {
  border: 1px solid #232F3E;
  text-align: center;
  margin-bottom: 3px;
}

.nav-cart-buttons:hover {
  cursor: pointer;
  border: 1px solid #666666;
}

.nav-search-result {
  padding: 5px;
}

.nav-search-result:hover {
  cursor: pointer;
  background-color: #EEEEEE;
}

/* Main Body */


#nav-body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#nav-container-top {
  display: flex;
  flex-flow: row nowrap;
  background-color: #232F3E;
  height: 56px;
  width: 100%;
  min-width: 950px;
}

#nav-container-bottom {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  background-color: #232F3E;
  height: 45px;
  border-bottom: 1px solid #D4D4D4;
  min-width: 950px;
}


/* COMPONENTS */


#nav-sidebar {
  display: flex;
  width: 40px;
  height: 38px;
  margin-top: 7px;
  margin-left: 7px;
  margin-right: 2px;
  border: 1px solid #666666;
  border-radius: 08%;
}

#nav-sidebar:hover {
  border: 1px solid white;
}

#nav-sidebar-btn {
  border: none;
  background-color: #232F3E;
  display: flex;
  align-content: flex-start;
  padding: 0;
  height: 38px;
  width: 40px;
  border-radius: 10%;
}

#nav-sidebar-btn:hover {
  cursor: pointer;
}

#nav-hamburger-icon {
  height: 28px;
  width: 40px;
  padding-left:1px;
}

#nav-logo-container {
  width: 153px;
  padding: 1px;
  display: flex;
  justify-content: flex-start;
}

#nav-main-logo {
  width: 140px;
  padding-top: 5px;
  cursor: pointer;
}

#nav-search-bar {
  width: 67%;
  min-width: 450px;
  padding: 1px;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 10px;
}

#nav-result-list-container {
  position: absolute;
  z-index: 100;
  color: black;
  background-color: white;
  max-height: 400px;
  width: 99.85%;
  overflow-y: scroll;
  border: 1px solid #BBBBBB;
}

#nav-result-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#nav-search-bar-form {
  display: flex;
  height: 35px;
  width: 100%;
  justify-content: flex-start;
}

#nav-category-selector {
  display: block;
  border: none;
  background-color: #F3F3F3;
  border-radius: 0;
  border-right: 1px solid #CDCDCD;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  margin-left: 16px;
  color: #6D6D6D;
  font-size: 10pt;
  font-weight: 400;
  width: fit-content;
}

#nav-category-selector:hover {
  cursor: pointer;
}

#nav-search-input {
  position: relative;
  border: none;
  width: 90%;
}

#nav-search-text {
  width: 100%;
  height: 33px;
  border: none;
}

#nav-search-icon {
  height: 21px;
  width: 21px;
  padding-top: 3px;
}

#nav-search-submit {
  border: none;
  width: 47px;
  background-color: #FEBD69;
  border-radius: 0 4px 4px 0;
  margin-right: 13px;
}

#nav-search-submit {
  cursor: pointer;
}

#nav-right-header {
  width: 420px;
}

#nav-right-banner {
  max-width: 95%;
  width: auto;
  height: 39px;
  padding-top: 9px;
  padding-left: 11px;
}

#nav-right-banner:hover {
  cursor: pointer;
}

#nav-location {
  display: flex;
  width: 213px;
}

#nav-location-btn {
  width: 150px;
  border: 1px solid #232F3E;
  margin: none;
  margin-left: 6px;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  background-color: #232F3E;
  color: white;
}

#nav-location-btn:hover {
  border: 1px solid #666666;
  cursor: pointer;
}

#nav-location-icon {
  padding-top: 3px;
  width: 41px;
  height: 35px;
}

#nav-location-text {
  display: flex;
  flex-flow: column nowrap;
}

#nav-location-text-top {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  font-size: 9pt;
}

#nav-location-text-bottom {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

#nav-category-list {
  width: 45%;
  min-width: 33%;
  display: flex;
  overflow: hidden;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
  color: #CCCCCC;
  font-size: 11pt;
}

#nav-cart-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 810px;
  color: white;
}

#nav-language-select {
  padding: 5px;
  padding-bottom: 0;
  padding-right: 8px;
  border: 1px solid #232F3E;
  margin-right: 2px;
}

#nav-language-icon {
  height: 17px;
  width: 23px
}

#nav-language-en {
  margin: 0;
  font-size: 9pt;
  color: #CCCCCC;
  text-align: center;
  margin-right: 3px;
}

#nav-account-lists {
  width: 120px;
  height: 30px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  border-left: 1px solid #666666;
  text-align: left;
}

#nav-account-hello {
  margin: 0;
  padding-left: 5px;
  font-size: 9pt;
  font-weight: 600;
  color: #CCCCCC;
}

#nav-account-dropdown {
  margin: 0;
  padding: 5px;
  padding-top: 0;
}

#nav-cart-orders {
  width: 55px;
  padding: 5px;
}

#nav-cart-prime {
  width: 75px;
  padding: 5px;
}

#nav-cart {
  width: 80px;
  display: flex;
  align-items: flex-end;
}

#nav-cart-icon {
  height: 35px;
  width: 56px;
  position: absolute;
}

#nav-cart-icon-overlay {
  position: relative;
  z-index: 2;
  font-size: 12pt;
  color: #DE8009;
  margin-right: 11px;
  margin-bottom: 16px;
}

#nav-cart-icon-overlay-double-digit {
  position: relative;
  z-index: 2;
  font-size: 12pt;
  color: #DE8009;
  margin-right: 14px;
  margin-bottom: 20px;
}

#nav-cart-text {
  margin: 0;
  margin-left: 40px;
  padding-bottom: 5px;
}

#nav-cart-text-double-digit {
  margin: 0;
  margin-left: 40px;
  padding-bottom: 5px;
}
