.nav-category {
  height: 100%;
  width: 11.11%;
}

#nav-hamburger-icon {
  color: white;
  text-decoration: none;
  font-size: 1.75em;
  margin-top: 0;
}

#nav-body {
  margin: 0;
}

#nav-sidebar-btn {
  border: none;
  background-color: #232F3E;
  height: 35px;
  width: 35px;
  border-radius: 10%;
}


#nav-container-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: #232F3E;
  height: 55px;
}

#nav-container-bottom {
  display: flex;
  flex-flow: row nowrap;
  background-color: #232F3E;
  height: 45px;
  border-bottom: 1px solid #D4D4D4;
}

#nav-search-bar {
  width: 90%;
}

#nav-sidebar {
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin-top: 7px;
  border: 1px solid #666666;
  border-radius: 08%;
}

#nav-sidebar:hover {
  border: 1px solid white;
}

#nav-logo {
  width: 7%;
}

#nav-location {
  flex-flow: row nowrap;
  width: 7%;
}

#nav-category-list {
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#nav-cart {
  width: 5%;
}